.pplcard.bgc-white.w-200px.h-300px.m-5px.bs-1.brad-2px.txa-c{ :data => { :id => entity.id } }
  %img.p-5px.img-responsive{ :src => entity.any_image_url || DefaultEntityImage }
  = entity.name
  %p.o-h.max-h-35p.size-5px= entity.description
