%form{ :action => "/search", :method => "post" }
  .row
    .col-md-12.pt-10px
      %input{:size => "30", :type => "text", :name => :term, :placeholder => "Search For" }/
  .row
    .col-md-12.pt-10px
      %input.btn.btn-warning{:type => "submit", :value => "Find It."}
