.strtcard.bgc-white.w-220px.h-300px.m-5px.bs-1.brad-2px.txa-c.o-h{ :data => { :id => startup.id } }
  %img.p-5px.img-responsive{ :src => startup.logo_url }
  %ul.no-bullet-point
    %li.fw-900= startup.name
    %li.fw-400= startup.sector
